<h2 md-dialog-title>Login or Register</h2>

<md-dialog-content *ngIf="!registerPage">

    
    
    <button  md-raised-button (click)="loginWithGoogle()" class="googleBrand">
      <img src="http://2.bp.blogspot.com/-k4UX8rSagsM/UcGd3sGQSbI/AAAAAAAAAa0/kDbogGEMc0U/s1600/google-plus.png"/>
      Sign in with Google
    </button>
    <br/>
    <br/>
    <br/>
    
    <div class="divider">
        <hr class="left"/>OR<hr class="right" />
    </div>
    <div *ngIf="error" class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
    </div>
    <form (submit)="loginWithEmail($event, email.value, password.value)" class="example-form">
        <md-form-field class="example-full-width">
            <input mdInput #email type="email" id="email" placeholder="Email address">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput #password type="password" id="password"  placeholder="Password">
        </md-form-field>
        <br>
        <button type="submit" md-raised-button color="primary">Log In</button>
      </form>
      <hr style="border-color:grey;">
      <a (click)="changeToRegisterPage()" style="cursor: pointer;">Register Now</a>

    <!-- <button md-raised-button (click)="afService.resetPassword('oldPw','alma123')">Reset password</button> -->

</md-dialog-content>

<md-dialog-content *ngIf="registerPage">

<div *ngIf="error" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
      <form class="example-form" (submit)="register($event, name.value, email.value, password.value)">
        <md-form-field class="example-full-width">
            <input mdInput #name type="text" id="name" placeholder="Name" required="">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput #email type="email" id="email" placeholder="Email address" required="" autofocus="">
        </md-form-field>
        <md-form-field class="example-full-width">
            <input mdInput #password type="password" id="inputPassword" placeholder="Password" required="">
        </md-form-field>
        <br>
        <button md-raised-button color="primary" type="submit">Register</button>
      </form>


</md-dialog-content>