<div class="container">
  <form>

    <div class="form-group">
      <label for="usr">Title:</label>
      <input type="text" class="form-control" id="usr">
    </div>

    <div class="form-group">
      <label for="usr">Cover image url:</label>
      <input type="text" class="form-control" id="usr">
    </div>

    <div class="form-group">
      <label for="comment">Summary:</label>
      <textarea [(ngModel)]="summary" name="newSummary" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <ckeditor [(ngModel)]="ckeditorContent" name="newFullText" [config]="{uiColor: '#4286f4'}" debounce="500">
      </ckeditor>
    </div>

    <div class="form-group">
      <label for="labels">Labels</label>
      <div id="labels">
        <label class="checkbox-inline"><input type="checkbox" value="">All</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Dota 2</label>
        <label class="checkbox-inline"><input type="checkbox" value="">League of Legends</label>
        <label class="checkbox-inline"><input type="checkbox" value="">Overwatch</label>
      </div>
    </div>

    <div class="form-group">
      <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
    </div>


  </form>
</div>
