<div class="container">
  <form >
 <br />
    <div class="form-group">
      <label for="coverImageUrl">Title:</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="newsModel.title" id="title" #ctrl="ngModel" required>
    </div>

    <div class="form-group">
      <label for="coverImageUrl">Cover image url:</label>
      <input type="text" name="coverImageUrl" class="form-control" [(ngModel)]="newsModel.coverImageUrl" id="coverImageUrl" required>
    </div>

    <div class="form-group">
      <label for="summary">Summary:</label>
      <textarea name="summary" [(ngModel)]="newsModel.summary" name="newSummary" class="form-control" id="summary"></textarea>
    </div>

    <div class="form-group">
      <label for="text">Text:</label>
      <ckeditor [(ngModel)]="newsModel.text" name="newFullText" [config]="{uiColor: '#4286f4'}" debounce="500" id="text">
      </ckeditor>
    </div>

    <div class="form-group">
      <label for="labels">Labels:</label><br>
      <tag-input id="labels" [(ngModel)]='labels' name="tagInput" [modelAsStrings]="true">
        <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="existingLabelsValue">
        </tag-input-dropdown>
      </tag-input>
     <!-- <button (click)="getCurrentLabels()" >currentLabels</button> -->
    </div>

    <div class="form-group">
      <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
