<h2 md-dialog-title>Edit your profile</h2>

<md-dialog-content style="text-align:center">

    <form class="example-form">
        <md-form-field class="example-full-width">
            <input #newName maxlength="15" mdInput placeholder="Display name" value="{{afService.user.displayName}}" [formControl]="nameFormControl">
            <md-hint align="end">{{newName.value.length}} / 15</md-hint>
            <md-error *ngIf="nameFormControl.hasError('required')">
                Please type your display name
            </md-error>
            <md-error *ngIf="nameFormControl.hasError('pattern')">
                Not just whitespaces!
            </md-error>
        </md-form-field>
        <!-- <button class="pull-right" md-raised-button color="primary" (click)="afService.updateProfileName(newName.value)">Reset Name</button> -->
    
        <br/>

        <img *ngIf="newPicture.value==''" src="//placehold.it/100" class="avatar img-rounded" alt="avatar">
        <img *ngIf="newPicture.value!=''" [src]="newPicture.value"  alt="avatar" style="height:100px; width:100px; margin: 5px;">
        
        <br/>
        <md-form-field class="example-full-width">
            <input #newPicture mdInput placeholder="Profile picture Url" value="{{afService.user.photoURL}}" [formControl]="imageUrlFormControl">
            <md-error *ngIf="imageUrlFormControl.hasError('required')">
                    Please add a link to your new avatar
                </md-error>
                <md-error *ngIf="imageUrlFormControl.hasError('pattern')">
                    Not valid url! (URL starts with http or https)
                </md-error>
        </md-form-field>
        <br/>
        <button md-raised-button color="primary" (click)="afService.updateProfile(newName.value, newPicture.value); onNoClick()">Save</button>
    </form>

    <br/>
    <div class="divider">
        <hr class="left" />OR
        <hr class="right" />
    </div>

    <button md-raised-button (click)="afService.resetPassword(); resetClicked()" style="background-color:#ffd54f; margin-bottom: 5px;">
            Reset Password
        </button>

    <div *ngIf="pwReset" style="color:orange">
        For password reset you will get an email with all the necessary informations!
    </div>
    <br/>

</md-dialog-content>