<!-- http://bootsnipp.com/snippets/xPEW -->

<div class="row" style="margin:0px">
  <div class="panel">
    <div class="panel-heading clearfix">



      <md-card style="background-color:#9fa8da">

        <div class="input-group">
          <input [(ngModel)]="searchText" name="searchText" type="text" (keydown)="keyDownFunction($event)" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="search()"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>


      </md-card>

    </div>

    <div class="panel-body" style="padding: 10px 15px;">
      <ul class="list-group">
        <li class="list-group-item clickable" (click)="addNewCategoryDialogOpen()">
          <label class="clickable">
              <md-icon class="md-24" style="vertical-align: bottom; color:green">add_circle</md-icon>Add new Category
          </label>
        </li>
        <li class="list-group-item" *ngFor="let label of existingLabels | async | filterBy: labelFilter">

          <label>
            {{label.label}}<span>&#09;<img src="{{label.image}}" style="height:23px;" /></span>
          </label>

          <div class="pull-right action-buttons">
            <a style="cursor: pointer;" (click)="openModifyDialog(label)"><span class="glyphicon glyphicon-pencil"></span></a>
            <a style="cursor: pointer;" (click)="openDeleteDialog(label)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="panel-footer">

        </div> -->
  </div>
</div>

<div>