<!-- <md-icon style="float: left;" class="md-24" mdTooltip="{{(selectedBetting | async)?.$key}}">bug_report</md-icon> -->

<h2 md-dialog-title *ngIf="(selectedBetting | async)?.status == 'future'">Place your bets</h2>
<h2 md-dialog-title *ngIf="(selectedBetting | async)?.status == 'notFuture'">Match is in progress</h2>
<h2 md-dialog-title *ngIf="(selectedBetting | async)?.status == 'finished'">Match is finished</h2>

<h3 md-dialog-title *ngIf="afService.userHasAlreadyPendingBet">Your current Bet is under process, please wait!</h3>

<md-dialog-content *ngIf="everythingLoaded && !afService.userHasAlreadyPendingBet && (selectedBetting | async)?.status == 'future'">

    <md-grid-list cols="4" rowHeight="50px">
        <md-grid-tile [colspan]="1">
            <img (load)="onImgLoad($event,game)" src="{{(selectedBetting | async)?.opponents.left.logo}}" height="40px">
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <h3 *ngIf="(selectedBetting | async)?.status=='future'">
                {{(selectedBetting | async)?.begin_at | betting_hours: true}} {{(selectedBetting | async)?.begin_at | betting_hours}}</h3>
            <h3 *ngIf="(selectedBetting | async)?.status!='future'" style="color:red">-- --</h3>
        </md-grid-tile>
        <md-grid-tile [colspan]="1">
            <img (load)="onImgLoad($event,game)" class="pull-right" src="{{(selectedBetting | async)?.opponents.right.logo}}" height="40px">
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <button [disabled]="alreadyTiped" md-raised-button (click)="onTeamClick(true)" style="width:100%; font-weight: bold; padding:0px 5px;"
                [ngStyle]="{ 'background-color': getBackgroundColor(true)}">
                <md-grid-list cols="4" rowHeight="20px">
                        <md-grid-tile [colspan]="3" [rowspan]="2">
                            <div class="workingLineBreaker">
                                {{(selectedBetting | async)?.opponents.left.name}}
                            </div>
                        </md-grid-tile> 

                        <md-grid-tile [rowspan]="2">
                            <div class="workingLineBreaker">
                                {{(selectedBetting | async)?.opponents.left.bets | betting_percentage: (selectedBetting | async)?.opponents.right.bets}}
                                <small>({{(selectedBetting | async)?.opponents.left.bets}})</small>
                            </div>
                        </md-grid-tile>
                </md-grid-list>
            </button>
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <button [disabled]="alreadyTiped" md-raised-button (click)="onTeamClick(false)" style="width:100%; font-weight: bold; padding:0px 5px;"
                [ngStyle]="{ 'background-color': getBackgroundColor(false)}">
                    <!-- <div class="pull-left">
                        {{(selectedBetting | async)?.opponents.right.bets | betting_percentage: (selectedBetting | async)?.opponents.left.bets}}
                    </div>
                    <div class="pull-right" >
                        {{(selectedBetting | async)?.opponents.right.name}}
                    </div> -->

                    <md-grid-list cols="4" rowHeight="20px">
                            
                            <md-grid-tile [rowspan]="2">
                                <div class="workingLineBreaker">
                                    {{(selectedBetting | async)?.opponents.right.bets | betting_percentage: (selectedBetting | async)?.opponents.left.bets}}
                                    <small>({{(selectedBetting | async)?.opponents.right.bets}})</small>
                                </div>
                            </md-grid-tile>
                            <md-grid-tile [colspan]="3" [rowspan]="2">
                                <div class="workingLineBreaker">
                                    {{(selectedBetting | async)?.opponents.right.name}}
                                </div>
                            </md-grid-tile>
                    </md-grid-list>

                </button>
        </md-grid-tile>

    </md-grid-list>
</md-dialog-content>

<md-dialog-content *ngIf="everythingLoaded && (selectedBetting | async)?.status == 'notFuture'">

    <md-grid-list cols="4" rowHeight="50px">
        <md-grid-tile [colspan]="1">
            <img (load)="onImgLoad($event,game)" src="{{(selectedBetting | async)?.opponents.left.logo}}" height="40px">
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <h3 *ngIf="(selectedBetting | async)?.status=='notFuture'" style="color:red">-- --</h3>
            <!-- <h3 *ngIf="(selectedBetting | async)?.status=='notFuture'" style="color:red">{{(selectedBetting | async)?.stream}}</h3> -->
        </md-grid-tile>
        <md-grid-tile [colspan]="1">
            <img (load)="onImgLoad($event,game)" class="pull-right" src="{{(selectedBetting | async)?.opponents.right.logo}}" height="40px">
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <button disabled md-raised-button (click)="onTeamClick(true)" style="width:100%; font-weight: bold; padding:0px 5px;" [ngStyle]="{ 'background-color': getBackgroundColor(true)}">

                <md-grid-list cols="4" rowHeight="20px">
                        <md-grid-tile [colspan]="3" [rowspan]="2">
                            <div class="workingLineBreaker">
                                {{(selectedBetting | async)?.opponents.left.name}}
                            </div>
                        </md-grid-tile> 

                        <md-grid-tile [rowspan]="2">
                            <div class="workingLineBreaker">
                                {{(selectedBetting | async)?.opponents.left.bets | betting_percentage: (selectedBetting | async)?.opponents.right.bets}}
                                <small>({{(selectedBetting | async)?.opponents.left.bets}})</small>
                            </div>
                        </md-grid-tile>
                </md-grid-list>
                        </button>
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <button disabled md-raised-button (click)="onTeamClick(false)" style="width:100%; font-weight: bold; padding:0px 5px;" [ngStyle]="{ 'background-color': getBackgroundColor(false)}">
                            <!-- <div class="pull-left">
                                {{(selectedBetting | async)?.opponents.right.bets | betting_percentage: (selectedBetting | async)?.opponents.left.bets}}
                            </div>
                            <div class="pull-right" >
                                {{(selectedBetting | async)?.opponents.right.name}}
                            </div> -->

                            <md-grid-list cols="4" rowHeight="20px">
                                    
                                    <md-grid-tile [rowspan]="2">
                                        <div class="workingLineBreaker">
                                            {{(selectedBetting | async)?.opponents.right.bets | betting_percentage: (selectedBetting | async)?.opponents.left.bets}}
                                            <small>({{(selectedBetting | async)?.opponents.right.bets}})</small>
                                        </div>
                                    </md-grid-tile>
                                    <md-grid-tile [colspan]="3" [rowspan]="2">
                                        <div class="workingLineBreaker">
                                            {{(selectedBetting | async)?.opponents.right.name}}
                                        </div>
                                    </md-grid-tile>
                            </md-grid-list>
                        </button>
        </md-grid-tile>

    </md-grid-list>
 
    <!-- https://www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/ -->
    <div class="video-container" *ngIf="streamLink!='' && twitchStream==true">
        <iframe [src]="streamLink | safeUrl" height="315" width="560" frameborder="0" scrolling="no"
            allowfullscreen="false">
        </iframe>
    </div>
    <div *ngIf="streamLink!='' && twitchStream!=true" style="text-align: center;">
        <a href="{{streamLink}}" target="_blank"><img src="{{youtubeImageUrl}}" style="height:100px;"/></a>
    </div>

</md-dialog-content>

<md-dialog-content *ngIf="everythingLoaded && (selectedBetting | async)?.status == 'finished'">

    <md-grid-list cols="4" rowHeight="50px">
        <md-grid-tile [colspan]="1">
            <img (load)="onImgLoad($event,game)" src="{{(selectedBetting | async)?.opponents.left.logo}}" height="40px">
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <h3 *ngIf="(selectedBetting | async)?.status=='finished'" style="color:orange">{{(selectedBetting | async)?.result}}</h3>
            <!-- <h3 *ngIf="(selectedBetting | async)?.status=='finished'" style="color:red">2 / 1</h3>                     -->
        </md-grid-tile>
        <md-grid-tile [colspan]="1">
            <img (load)="onImgLoad($event,game)" class="pull-right" src="{{(selectedBetting | async)?.opponents.right.logo}}" height="40px">
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <button disabled md-raised-button (click)="onTeamClick(true)" style="width:100%; font-weight: bold; padding:0px 5px;" [ngStyle]="{ 'background-color': getBackgroundColor(true)}">
                                  
                        <md-grid-list cols="4" rowHeight="20px">
                                <md-grid-tile [colspan]="3" [rowspan]="2">
                                    <div class="workingLineBreaker">
                                        {{(selectedBetting | async)?.opponents.left.name}}
                                    </div>
                                </md-grid-tile> 
        
                                <md-grid-tile [rowspan]="2">
                                    <div class="workingLineBreaker">
                                        {{(selectedBetting | async)?.opponents.left.bets | betting_percentage: (selectedBetting | async)?.opponents.right.bets}}
                                        <small>({{(selectedBetting | async)?.opponents.left.bets}})</small>
                                    </div>
                                </md-grid-tile>
                        </md-grid-list>

                                </button>
        </md-grid-tile>
        <md-grid-tile [colspan]="2">
            <button disabled md-raised-button (click)="onTeamClick(false)" style="width:100%; font-weight: bold; padding:0px 5px;" [ngStyle]="{ 'background-color': getBackgroundColor(false)}">
                                    <!-- <div class="pull-left">
                                        {{(selectedBetting | async)?.opponents.right.bets | betting_percentage: (selectedBetting | async)?.opponents.left.bets}}
                                       
                                    </div>
                                    <div class="pull-right" >
                                        {{(selectedBetting | async)?.opponents.right.name}}
                                    </div> -->

                                    <md-grid-list cols="4" rowHeight="20px">
                                            
                                            <md-grid-tile [rowspan]="2"> 
                                                <div class="workingLineBreaker">
                                                    {{(selectedBetting | async)?.opponents.right.bets | betting_percentage: (selectedBetting | async)?.opponents.left.bets}}
                                                    <small>({{(selectedBetting | async)?.opponents.right.bets}})</small>
                                                </div>
                                            </md-grid-tile>
                                            <md-grid-tile [colspan]="3" [rowspan]="2">
                                                <div class="workingLineBreaker">
                                                    {{(selectedBetting | async)?.opponents.right.name}}
                                                </div>
                                            </md-grid-tile>
                                    </md-grid-list>
                                </button>
        </md-grid-tile>

    </md-grid-list>
</md-dialog-content>

<md-dialog-actions style="text-align: center;display: block;" *ngIf="selectedTeam!=''">

    <button md-raised-button *ngIf="!afService.isLoggedIn" (click)="openLoginDialog()" color="primary">
            Login to Tip
    </button>

    <div *ngIf="afService.isLoggedIn && !(afService.userObs | async)?.verified">
        Please verify your email before tip!
        <br>
        <br>
        <button md-raised-button color="primary" (click)="verifyAgain()">Send Email verification again</button>
    </div>

    <form *ngIf="afService.isLoggedIn && (afService.userObs | async)?.verified">
            <!-- floatPlaceholder="never" -->
        <md-form-field *ngIf="!alreadyTiped" >
            <!-- placeholder="Bet" -->
            <input #betInput mdInput type="number" [(ngModel)]="tip" name="tip" placeholder="Bet"  min="0" step="1" max="{{(afService.userObs | async)?.coins}}" [formControl]="betFormControl">
            <md-error *ngIf="betFormControl.hasError('pattern')">
                Please use only Integers
            </md-error>
            <md-error *ngIf="betFormControl.hasError('required')">
                Please take your bets
            </md-error>
            <md-error *ngIf="betFormControl.hasError('max')">
                You can bet only what you have ({{(afService.userObs | async)?.coins}} coins)
            </md-error>
        </md-form-field>

        <md-chip-list class="mat-chip-list-stacked" *ngIf="alreadyTiped && (selectedBetting | async)?.status != 'finished'">
            <md-chip *ngIf="prizeWon==null" color="primary" style="display: inline-block;background-color: #ffab00;" autofocus>
                <b>Your tip: {{tip}}</b>
            </md-chip>
            <md-chip *ngIf="prizeWon!=null" color="primary" style="display: inline-block;background-color: #ffab00;">
                <b>Your won: {{prizeWon}}</b>
            </md-chip>
        </md-chip-list>

        <md-chip-list class="mat-chip-list-stacked" *ngIf="alreadyTiped && (selectedBetting | async)?.status == 'finished'">
            <md-chip *ngIf="prizeWon==null  && !((selectedBetting | async)?.result == 'draw' || (selectedBetting | async)?.result == 'abandoned')" color="primary" style="display: inline-block;background-color: #f44336;">
                <b>You lost: {{tip}}</b>
            </md-chip>
            <md-chip *ngIf="prizeWon!=null" color="primary" style="display: inline-block;background-color: #64dd17;">
                <b>You won: {{prizeWon}}</b>
            </md-chip>
            <md-chip *ngIf="prizeWon==null && ((selectedBetting | async)?.result == 'draw' || (selectedBetting | async)?.result == 'abandoned')" color="primary" style="display: inline-block;background-color: rgb(206, 147, 216);">
                <b>Your tip was: {{tip}}, what you got back!</b>
            </md-chip>
        </md-chip-list>

    </form>
    <button *ngIf="!betFormControl.hasError('pattern') && !betFormControl.hasError('required') && !betFormControl.hasError('max') && !alreadyTiped" (click)="placeBets()"
        style="width:200px" md-raised-button color="primary" md-dialog-close>Tip</button>

    <!-- <button md-button md-dialog-close>{{data.name}}</button>
       Can optionally provide a result for the closing dialog.
      <button md-button [md-dialog-close]="true">{{data.animal}}</button> -->
</md-dialog-actions>




