<div class="flexbox" appMyMasonry>
        <div *ngFor="let new of specificNews | async" class="box">
                
                   <md-card class="example-card">
                       <img md-card-image src="{{new.coverImageUrl}}">
                       <md-card-header>
                         <md-card-title>
                             <h4>
                                 {{new.title}}
                                 
                             </h4>
                         </md-card-title>
                       </md-card-header>
                       <md-card-content>
                         <p>
                             {{new.summary}}
                         </p>
                         <md-card-subtitle>
                             <div class="text-muted"><small>{{new.creator.displayname}} | {{ new.timestamp | date:"MM/dd/yy hh:mm a" }}</small></div>
                         </md-card-subtitle>
                       </md-card-content>
                       <md-card-actions>
                         <button md-button [routerLink]="['../../news', new.$key]">More</button>
                       </md-card-actions>
                     </md-card>
        </div>
</div>




<!-- <div fxFlexFill="">
         <masonry (layoutComplete)="doStuff($event)" *ngIf="loadedIn" [useImagesLoaded]="true" style="background-color:brown;" [options]="{ transitionDuration: '0'}">
                <masonry-brick *ngFor="let new of specificNews | async" class="brick">
                        <md-card class="example-card">
                                <img md-card-image src="{{new.coverImageUrl}}">
                                <md-card-header>
                                  <md-card-title>
                                      <h4>
                                          {{new.title}}
                                          
                                      </h4>
                                  </md-card-title>
                                </md-card-header>
                                <md-card-content>
                                  <p>
                                      {{new.summary}}
                                  </p>
                                  <md-card-subtitle>
                                      <div class="text-muted"><small>{{new.creator.displayname}} | {{ new.timestamp | date:"MM/dd/yy hh:mm a" }}</small></div>
                                  </md-card-subtitle>
                                </md-card-content>
                                <md-card-actions>
                                  <button md-button [routerLink]="['../../news', new.$key]">More</button>
                                </md-card-actions>
                              </md-card>
                </masonry-brick>
        </masonry>               
</div> -->
      


        <!-- <div *ngFor="let new of specificNews | async" class="col-sm-6 col-md-6">
                
                   <md-card class="example-card">
                       <img md-card-image src="{{new.coverImageUrl}}">
                       <md-card-header>
                         <md-card-title>
                             <h4>
                                 {{new.title}}
                                 
                             </h4>
                         </md-card-title>
                       </md-card-header>
                       <md-card-content>
                         <p>
                             {{new.summary}}
                         </p>
                         <md-card-subtitle>
                             <div class="text-muted"><small>{{new.creator.displayname}} | {{ new.timestamp | date:"MM/dd/yy hh:mm a" }}</small></div>
                         </md-card-subtitle>
                       </md-card-content>
                       <md-card-actions>
                         <button md-button [routerLink]="['../../news', new.$key]">More</button>
                       </md-card-actions>
                     </md-card>
        </div> -->

