
<!-- https://stackoverflow.com/questions/38209713/how-to-make-a-responsive-nav-bar-using-angular-material-2 -->
<!-- http://blog.learningtree.com/create-side-menu-angular-2-material-design/ -->

<md-toolbar class="mat-elevation-z5" color="primary">
    <button md-button routerLink="/">
      <!-- <h1><md-icon>home</md-icon> 
          eSpot</h1> -->
      <img class="img-responsive" style="height:33px;" src="https://firebasestorage.googleapis.com/v0/b/dipterv-f7bce.appspot.com/o/1_Primary_logo_on_transparent_308x66.png?alt=media&token=34697bc5-a91f-4d25-b5f5-98832dff112e" />
    </button>
      <!-- This fills the remaining space of the current row -->
      
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
          <button md-button routerLink="/">News</button>
          <button md-button routerLink="/matches">Matches</button>
      </div>
      <span class="fill-remaining-space"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button md-button routerLink="/administrator" style="color:#ffd54f">Administrator page</button>
        <md-chip-list *ngIf="afService.isLoggedIn">
                <md-chip style="background-color:#1a237e;color:rgba(255,255,255,.87);">
                        <b>{{(afService.userObs | async)?.coins}}</b> &nbsp;
                        <img  style="height:20px" src="https://opengameart.org/sites/default/files/Coin_0.png" />
                </md-chip>
        </md-chip-list>
        <!-- <button  md-button *ngIf="afService.isLoggedIn">
            <b>{{(afService.userObs | async)?.coins}}</b>
            <img  style="height:20px" src="https://opengameart.org/sites/default/files/Coin_0.png" />
        </button> -->
        <button md-button (click)="openLoginDialog()" *ngIf="!afService.isLoggedIn">Login</button>
        

        <button md-button [mdMenuTriggerFor]="userMenu" *ngIf="afService.isLoggedIn">{{afService.user.displayName}}</button>
        <md-menu #userMenu="mdMenu">
          <button md-menu-item (click)="openEditProfileDialog()">Edit Profile</button>
          <button md-menu-item  (click)="logout()">Logout</button>
        </md-menu>

      </div>
      <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
       <md-icon>menu</md-icon>
      </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item routerLink="/">News</button>
      <button md-menu-item routerLink="/matches">Matches</button>
      <button md-menu-item routerLink="/administrato" style="color:#ff6f00">Administrator page</button>
      <div md-menu-item *ngIf="afService.isLoggedIn" >
              <b>{{(afService.userObs | async)?.coins}}</b> &nbsp;
              <img  style="height:20px" src="https://opengameart.org/sites/default/files/Coin_0.png" />
      </div>
      <hr style="margin-top: 5px; margin-bottom: 5px;">
      <button *ngIf="!afService.isLoggedIn" md-menu-item routerLink="/login">Login</button>
      <button  *ngIf="afService.isLoggedIn" md-menu-item (click)="logout()">Logout</button>
      <!--<button md-menu-item>Help</button>-->
  </md-menu>

   <div class="app-content" >
     <router-outlet></router-outlet>
   </div>
