<div>
<div class="panel panel-default" style="margin:20px; width:80%">
  <div class="panel-heading"><h3 style="margin-top: 10px;">News category usage</h3></div>
    <div class="panel-body">
        <chart #chart1 [type]="chart1type" [data]="chart1data" [options]="chart1options"
        style="width:300px; height:300px; margin-left:15%;  margin-right:15%"></chart>
    </div>
  </div>

  <div class="panel panel-default" style="margin:20px; width:80%">
      <div class="panel-heading"><h3 style="margin-top: 10px;">News shared/author</h3></div>
        <div class="panel-body">
            <chart #chart2 [type]="chart2type" [data]="chart2data" [options]="chart2options"
            style="width:500px; height:500px;"></chart>
        </div>
      </div> 

        
</div>
