.well{
  margin-top: 20px;
}

.center10padding{
  text-align: -webkit-center;
  padding: 10px;
}

.my-pagination .ngx-pagination {
    background: red;
  }

.custom-pagination {
      display: flex;
      max-width: 300px;
      margin: auto;
      cursor: default;
  }

.custom-pagination > div{
  flex: 1;
  font-size: 18px;
  text-align: center;
  border-bottom: 3px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.custom-pagination > div.current{
  border-color: red;
}

.custom-pagination > div > a{
  display: block;
  height: 100%;
}

.output{
  border-radius: 8px;
  padding: 0 20px;
  border: 3px dashed #f2bc93;
  margin: 20px 0;
}
