@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
  }

.mat-dialog-container{
    background-color: #e8eaf6;
    border-radius: 10px !important;
    margin: auto;
}


.my-pagination .ngx-pagination {
    background: red;
  }

.custom-pagination {
      display: flex;
      max-width: 300px;
      margin: auto;
      cursor: default;
  }

.custom-pagination > div{
  flex: 1;
  font-size: 18px;
  text-align: center;
  border-bottom: 3px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.custom-pagination > div.current{
  border-color: red;
}

.custom-pagination > div > a{
  display: block;
  height: 100%;
}

.material-icons.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
  }
  .material-icons.md-24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
  }
  .material-icons.md-36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
  }
  .material-icons.md-48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
  }

  .mat-menu-content {
    overflow-y: hidden;
  }