<p>
  <route-modal [cancelUrl]="['/']" modalClass="modal-md">
      <modal-header>
          <h1>Profile</h1>
      </modal-header>
      <modal-content>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="well well-sm">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                  </div>
                  <div class="col-sm-6 col-md-8">
                    <h4>
                                    {{afService.user.displayName}}</h4>
                    <p>
                      <i class="glyphicon glyphicon-envelope"></i>{{afService.user.email}}
                      <br />

                      <div class="checkbox">
                        <label><input type="checkbox" value="">Dota 2</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">League of Legends</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Overwatch</label>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </modal-content>
      <modal-footer>
          <button class="btn btn-primary" [routerLink]="['/']">close</button>
      </modal-footer>
</route-modal>
</p>
