
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <!-- <img src="/app/home-page/1_Primary_logo_on_transparent_308x66.png" /> -->
          <img src="https://firebasestorage.googleapis.com/v0/b/dipterv-f7bce.appspot.com/o/1_Primary_logo_on_transparent_308x66.png?alt=media&token=34697bc5-a91f-4d25-b5f5-98832dff112e" />
          <!-- <a href="#" title="Scroll down for your viewing pleasure">e-Spot</a> -->
          <!-- <p class="lead">Minden ami e-sports és e-community egy helyen!</p>-->
        </h1>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <!-- <img src="http://crm-gaming.com/img/menu/lol.png" /> -->
          <iframe id='htmla9644991b543dc0dc888d4471fdf010d8dac5094eaa8' height='200px' width='470px'
          src='https://cdn.html5maker.com/iframe.html?id=a9644991b543dc0dc888d4471fdf010d8dac5094eaa8&width=470&height=200&h5mTag=html5maker'
          frameborder='0' scrolling='no'></iframe>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">

<div >
  <!-- modal here -->
  <router-outlet></router-outlet>
</div>


	<div class="no-gutter row">
      		<!-- left side column -->
  			<div class="col-md-2">
              	<div class="panel panel-default" id="sidebar">
                <div class="panel-heading" style="background-color:#888;color:#fff;">Sidebar</div>
                <div class="panel-body">
      			<ul class="nav nav-stacked">
                    <li><a href="#">Link</a></li>
          			<li><a href="#">Link</a></li>
                  	<li><a href="#">Link</a></li>
          			<li><a href="#">Link</a></li>
                  	<li><a href="#">Link</a></li>
          			<li><a href="#">Link</a></li>
				</ul>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Accordion
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                Content here for links, ads, etc..
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Another collapse panel. Content here for links, ads, etc..
                                </div>
                            </div>
                        </div>
               	</div><!--/acc-->

                  <hr>

                <div class="col col-span-12">
                  <i class="icon-2x icon-facebook"></i>&nbsp;
                  <i class="icon-2x icon-twitter"></i>&nbsp;
                  <i class="icon-2x icon-linkedin"></i>&nbsp;
                  <i class="icon-2x icon-pinterest"></i>
                </div>

                </div><!--/panel body-->
              </div><!--/panel-->
      		</div><!--/end left column-->

      		<!--mid column-->
      		<div class="col-md-3">
              <div class="panel" id="midCol">
                <div class="panel-heading" style="background-color:#555;color:#eee;">New Stories</div>
                <div class="panel-body">

                  <div *ngFor="let new of news | async">
                    <div class="well">
                            <img src="{{new.content.coverImageUrl}}" class="img-responsive">
                            <h3>{{new.content.title}}</h3>
                            {{new.content.summary}}
                            <div class="text-muted"><small>{{new.content.displayName}} | {{ new.content.timestamp | date:"MM/dd/yy hh:mm a" }}</small></div>
                            <!-- <p><button (click)="setSelectedNews(new);newsModal.open()">More</button></p> -->
                            <p><button [routerLink]="['post', new.$key]">More</button></p>
                    </div>
                  </div>
                  <hr>
               </div>
               </div><!--/panel-->
      		</div><!--/end mid column-->

      		<!-- right content column-->
      		<div class="col-md-7" id="content">
            	<div class="panel">
    			<div class="panel-heading" style="background-color:#111;color:#fff;">Top Stories</div>
              	<div class="panel-body">

                  <div *ngFor="let new of news | async">
                    <div class="well">
                            <div >
                              <h5>
                                <span *ngFor="let label of new.content.labels" style="font-size:100%; margin-right:5px;" class="label label-info">{{label}}</span>
                              </h5>
                            </div>
                            <img src="{{new.content.coverImageUrl}}" class="img-responsive">
                            <h3>{{new.content.title}}</h3>
                            {{new.content.summary}}
                            <div class="text-muted"><small>{{new.content.displayName}} | {{ new.content.timestamp | date:"MM/dd/yy hh:mm a" }}</small></div>
                            <!-- <p><button (click)="setSelectedNews(new);newsModal.open()">More</button></p> -->
                            <p><button [routerLink]="['post', new.$key]">More</button></p>
                    </div>
                  </div>
                  </div><!--/panel-body-->
                </div><!--/panel-->
              	<!--/end right column-->
      	</div>
  	</div>
</div>
<footer>
  <div class="container">
  	<div class="row">
      <div class="col-md-12 text-right"><h5>©eSpot - Diplomamunka</h5></div>
    </div>
  </div>
</footer>
