<!-- <div >
    Angular 2 prevents run any external scripts in between templates!
    <script src='https://cdn.html5maker.com/embed.js?id=a9644991b543dc0dc888d4471fdf010d8dac5094eaa8&responsive=1&width=940&height=400&h5mTag=html5maker'></script>

</div> -->

<md-sidenav-container fullscreen class="sidenav-container" style="top: 64px !important;">
    
  <!-- https://github.com/angular/material2/issues/1130 -->
  <md-sidenav  #sidenav class="app-sidenav"  mode="{{isMobileView?'over':'side'}}" opened="{{!isMobileView}}" disableClose="{{!isMobileView}}">
      <md-nav-list >
          <a md-list-item *ngIf="!labelsAreAvailable" style="color:white;">
           BIG League Of Legends
          </a>
          <a md-list-item *ngFor="let label of labels | async" 
          (click)="onLinkClick(sidenav);onDropDownSelected(label)">
            <img class="img-responsive pull-right" [src]="label.image" style="height:23px;" /> {{label.label}}
          </a>

      </md-nav-list>
    </md-sidenav>

      <md-toolbar color="primary" style="margin-left:0px">
          <button *ngIf="isMobileView" md-icon-button (click)="sidenav.toggle()">
              <md-icon class="md-24" >menu</md-icon>
          </button>
          <h1 *ngIf="selectedLabel==null || selectedLabel=='All'">The Most Popular eSport news in ONE place!</h1>
          <h1 *ngIf="selectedLabel!=null && selectedLabel!='All'">
              
            {{selectedLabel}} fresh news</h1>
      </md-toolbar>

<div class="container">

          <div class="row row-eq-height pull-left">
                 <div class="col-md-8"> 
                   <div *ngFor="let new of specificNews | async" class="col-sm-6 col-md-6">
                   
                      <md-card class="example-card">
                          <md-card-header>
                            <div md-card-avatar class="example-header-image"></div>
                            <md-card-title>{{new.title}}</md-card-title>
                            <md-card-subtitle>
                                <div class="text-muted"><small>{{new.creator.displayname}} | {{ new.timestamp | date:"MM/dd/yy hh:mm a" }}</small></div>
                            </md-card-subtitle>
                          </md-card-header>
                          <img md-card-image src="{{new.coverImageUrl}}" alt="Photo of a Shiba Inu">
                          <md-card-content>
                            <p>
                                {{new.summary}}
                            </p>
                          </md-card-content>
                          <md-card-actions>
                            <button md-button>LIKE</button>
                            <button md-button>SHARE</button>
                          </md-card-actions>
                        </md-card>
                   </div>

                </div>
          </div>

          <footer>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-right">
                    <h5>©eSpot - Diplomamunka</h5></div>
                </div>
              </div>
            </footer>

</div>
</md-sidenav-container>



