

@media (min-width: 1000px){
.col-md-4 {
    width: 33.33333333%;
    float: left;
}}


.right-column{
  background-color: #1A237E;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
}

  @media (min-width: 601px){
    .sidenav-container {
        width: 100%;
        top: 64px !important;
    }}


    @media (max-width: 600px){
      .sidenav-container {
          width: 100%;
          top: 56px !important;
      }}

.col-md-8 .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-card {
  display: inline-block;
  padding: 15px;
  position: relative;
}

md-card > img{
  width: 100%;
  margin: 0;
}

@media (min-width: 1000px){
.container {
    width: 100%;
}}

@media (min-width: 800px){
  .col-md-8  .col-sm-6 {
    width: 50%;
    float: left;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding: 15px;
}

.app-sidenav{
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 0px;
}

.app-sidenav md-nav-list > a{
  color: rgba(0, 0, 0, 0.54);
}

.app-sidenav md-nav-list>a{
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
}
