<h2 md-dialog-title style="text-align:center" *ngIf="success && !successfullUpdate">Reset Your password</h2>

<md-dialog-content style="text-align:center" *ngIf="success && !successfullUpdate">
    <form class="example-form">
        <md-form-field class="example-full-width">
            <input mdInput minlength="8" #password type="password" id="inputPassword" placeholder="New password" required="" [formControl]="passwordFormControl">
            <md-hint align="end">Minimum {{password.value.length}} / 8</md-hint>
            <md-error *ngIf="passwordFormControl.hasError('required')">
                Please type your new password
            </md-error>
            <md-error *ngIf="passwordFormControl.hasError('pattern')">
                Password is not strong enough!
            </md-error>
        </md-form-field>
        <br>
        <br>
        <button [disabled]="!passwordFormControl.valid" md-raised-button color="primary" (click)="setNewPassword(passwordFormControl.value)">Reset</button>
    </form>
</md-dialog-content>

<h2 md-dialog-title style="text-align:center" *ngIf="successfullUpdate">Successfully reseted the password</h2>
<md-dialog-content style="text-align:center" *ngIf="successfullUpdate">
    From now on you can use your new password
</md-dialog-content>

<h2 md-dialog-title style="text-align:center; color:red" *ngIf="!success">Your password reset code is wrong!</h2>
<md-dialog-actions style="display: block; text-align:center" *ngIf="!success">
    Your password reset code is probably outdated or invalid, please try it again from the corresponding menu!

</md-dialog-actions>