<div class="container">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>My Profile -> Account setting</legend>

<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Change Email ID</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="your current email " class="form-control input-md">
  <span class="help-block">your new email ID</span>
  </div>
</div> -->

<!-- Password input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">New password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="new password" class="form-control input-md">

  </div>
</div> -->

<!-- Password input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Repeat password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="repeat password" class="form-control input-md">

  </div>
</div> -->

<!-- Select Labels -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Favourites</label>
  <div class="col-md-4">
    <ng-select
      [options]="characters"
      [multiple]="true" name="selectLabels"
      [(ngModel)]="selectedValues">
    </ng-select>
  </div>
</div>



</fieldset>
</form>

</div>
